body{
   background: #3b3b3b;
}

.heading{
   font-size: 40px;
   color: #ffffff;
   text-align: center;
}

.text{
   width: 40%;
   margin: 0 auto;
   margin-bottom: 50px;
   font-size: 30px;
   padding: 50px;
   border: 1px solid #ffffff;
   color: #ffffff;
   text-align: center;
}

span{
   font-style: italic;
}
.btn{
   display: block;
   margin: 0 auto;
   padding: 10px 80px;
   cursor: pointer;
}